// Units
$base-factor: 62.5%;
$base-unit: 1rem;

// Typography
// ----------------------------------------------------------------------------
$font-family: "Karla", system-ui, Avenir, Helvetica, Arial, sans-serif;

// Colors
// ----------------------------------------------------------------------------
$light-color: #FFFFFF;
$mid-color: #F5F5F5;
$dark-color: #0B2434;

$primary-color: #5035FF;
$secondary-color: #59E391;
$tertiary-color: #2B283A;


